* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background-color: skyblue;
    padding: 30px;
    
}


header h1 {
    display: inline-block;
}


header nav {
    float: right;
}


nav ul li {
    display: inline-block;
    padding: 10px;
    margin-left: 20px;
    font-size: 20px;
}


a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
    text-decoration: none;
}